*{

box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;

}


body{

margin:0;

background:#111;

color:white;

}



/* NAVBAR */

nav{

height:80px;

background:#111;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 50px;

border-bottom:2px solid #e30613;

}


nav h2{

font-size:25px;

}


nav span{

color:#e30613;

}



nav button{

background:#e30613;

border:none;

padding:12px 25px;

color:white;

border-radius:6px;

cursor:pointer;

}





/* LANDING */


.hero{

height:calc(100vh - 80px);

background:

linear-gradient(
rgba(0,0,0,.75),
rgba(0,0,0,.9)
),

url("../assets/taller.jpg");


background-size:cover;

background-position:center;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

}



.hero h1{

font-size:55px;

}



.hero p{

font-size:20px;

color:#ddd;

}



/* MODAL LOGIN */


.modal{


display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.8);

justify-content:center;

align-items:center;

}



.login-box{


background:#fff;

color:#333;

width:350px;

padding:35px;

border-radius:15px;

text-align:center;

}



.login-box h2{

color:#e30613;

}



.login-box input{


width:100%;

padding:12px;

margin:10px 0;

}



.login-box button{


width:100%;

padding:12px;

background:#e30613;

color:white;

border:none;

cursor:pointer;

border-radius:5px;

}




/* ADMIN */


.admin{

background:#f2f2f2;

color:#333;

}



.admin-header{


background:#222;

color:white;

padding:20px 40px;

display:flex;

justify-content:space-between;

border-bottom:5px solid #e30613;

}



main{

padding:40px;

}



.cards{


display:grid;

grid-template-columns:

repeat(auto-fit,minmax(250px,1fr));


gap:25px;

}



.cards div{


background:white;

padding:35px;

border-radius:10px;

box-shadow:0 5px 15px #ccc;

border-left:6px solid #e30613;

}



.cards button{


background:#e30613;

color:white;

border:none;

padding:10px 30px;

cursor:pointer;

}